html {
    width: 100%;
    height: 100%;
}
body {
    background-color: rgb(130, 130, 130);
    background-image: radial-gradient(rgb(240, 232, 232), rgb(25, 22, 22));
    text-align: center;
    font-family: fantasy;
}
.bar {
    margin: auto;
    height: 80px;
    width: fit-content;
    margin-bottom: 20px;
}
.div-line {
    font-size: x-large;
    padding: 7px;
    background-color: #c92121;
    height: 50px;
    width: 130px;
    margin: 10px;
    margin-top: 20px;
    border: 1px solid black;
    box-sizing: border-box;
    float: left;
    border: 5px inset rgb(77, 75, 75);
    border-radius: 5%;
    box-shadow: 10px 10px 5px 2px;
}
.smile {
    cursor: pointer;
}
.clock {
    color: rgba(255, 0, 0, 0.623);
}
.clockDiv {
    background-color: rgb(32, 31, 31);
    text-align: right;
}
.lives {
    text-align: left;
}
.board-container {
    color: #563f40;
    width: fit-content;
    height: fit-content;
    border: 10px outset rgb(77, 75, 75);
    box-sizing: border-box;
    padding: 5px;
    border-radius: 3%;
    box-shadow: 16px 20px 9px 2px;
    display: inline-block;
}
table {
    width: 520px;
    height: 520px;
    box-sizing: border-box;
}
.cell {
    font-size: 25px;
    background-color: rgb(166 171 158);
    cursor: pointer;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 5%;
    box-shadow: 2px 2px 17px 2px;
    transition: 1s;
}
.hint {
    cursor: url('/img/hint-cropped.png'), auto;
}
.hint td {
    cursor: url('/img/hint-cropped.png'), auto;
}
.mine {
    background-color: #F44336;
}
.nextToMine1 {
    color: rgb(64, 0, 255);
}
.nextToMine2 {
    color: green;
}
.nextToMine3 {
    color: red;
}
.nextToMine4 {
    color: yellow;
}
.nextToMine5 {
    color: purple;
}
.nextToMine6 {
    color: rgb(255, 0, 230);
    ;
}
.nextToMine7 {
    color: rgba(255, 0, 43, 0.6);
}
.nextToMine8 {
    color: black;
}
.nextToMine9 {
    color: black;
}
td.cover {
    background-color: rgb(4, 27, 4);
    content-visibility: hidden;
    /* background-image: radial-gradient(rgb(121, 123, 118), rgb(63, 63, 60)); */
    background-image: radial-gradient(rgb(220 23 23), rgb(63, 63, 60));
}
td.marked {
    background-image: radial-gradient(rgba(72, 32, 192, 0.87), rgb(32, 0, 128));
    color: rgb(32, 0, 128);
}
footer {
    margin-top: 100px;
}
button {
    background-color: #c92121;
    margin: 10px;
    height: 50px;
    width: 100px;
    border: 5px inset rgb(77, 75, 75);
    border-radius: 5%;
    box-sizing: border-box;
    font-size: large;
    padding: 7px;
    font-family: fantasy;
    box-shadow: 10px 10px 5px 2px;
}
.extra div {
    width: fit-content;
    height: fit-content;
    display: inline-block;
    border-radius: 5%;
    padding: 10px;
    margin: 5px;
    margin-top: 20px;
    height: 50px;
}
.hintDiv {
    background-color: rgb(0, 187, 255);
}
.safeClickDiv {
    background-color: rgb(0, 29, 146);
    color: whitesmoke;
    cursor: pointer;
}
.sevBoomDiv {
    background-color: #F44336;
    cursor: pointer;
}
.sideDiv {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 10px;
    font-family: sans-serif;
    font-size: large;
}
.instructions {
    text-align: left;
}
.instructionsTitle {
    text-decoration-line: underline;
}
.bestScoreTitle {
    text-align: center;
    text-decoration-line: underline;
}
span.score span {
    margin-right: 30px;
}